.test_image_and_result{
    background-color: grey;
    width:1000px;
    height: 400px;
    margin-left: 120px;
    border-radius: 20px;
}

.test_image_and_result2{
    background-color: grey;
    width:1000px;
    height: 400px;
    margin-left: 120px;
    border-radius: 20px;
}

